pdfplumber
csv
pandas
langchain-core
PyPDF2
python-pptx
python-docx
streamlit
Pillow
pytesseract
opencv-python
numpy
easyocr
transformers
torch
langchain-textsplitter
langchain-huggingface
langchain-community
