streamlit
PyPDF2
langchain
langchain-cli
langchain_community
langchain_huggingface
faiss-cpu
pytesseract
easyocr
opencv-python-headless
pix2tex
transformers
torch
pillow
opencv-python
pandas
pytz
pdfplumber
python-pptx
python-docx